<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <title>NBA Database</title>
  </head>
  <body>
    NBA HOME PAGE
    <a href="/games">Games</a>
    <a href="/employees">Players & Coaches</a>
  </body>
</html>
